:root {
    --color-abteilung: #cd0000;
    --color-biber: #f2e113;
    --color-woelfe: #0081bd;
    --color-pfadis: #be9925;
    --color-pios: #cd0000;
    --color-rover: #20723d;
    --color-komitee: #753265;

}